# Ignore Conda environment files
*.conda
*.ipynb_checkpoints

# Ignore Jupyter runtime files
.jupyter
__pycache__/
*.pyc

# Ignore cache
cache

# Ignore Jin's giant instance data ;)
instance-jin.pkl
/Papers
StravaDataLoader_mod.ipynb
StravaDataLoader_mod.ipynb
